.grid{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;;
}

.coin{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.blank{
    background-color: white;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}